<div class="top-mentions">
  <div class="mention-list">
    <h3>Top Positive Mentions</h3>
    <span
      style="color: #3df700"
      *ngFor="
        let keyword of positiveMentions.slice(0, showAllPositive ? 20 : 5)
      "
      >{{ keyword.key }} ({{ keyword.value }})</span
    >
    <span
      (click)="showAllPositive = true"
      *ngIf="!showAllPositive"
      class="showAll"
      >Show All</span
    >
  </div>
  <div class="mention-list">
    <h3>Top Negative Mentions</h3>
    <span
      style="color: red"
      *ngFor="
        let keyword of negativeMentions.slice(0, showAllNegative ? 20 : 5)
      "
      >{{ keyword.key }} ({{ keyword.value }})</span
    >
    <span
      (click)="showAllNegative = true"
      *ngIf="!showAllNegative"
      class="showAll"
      >Show All</span
    >
  </div>
</div>
<div class="section">
  <div id="container" style="width: 400px; height: 350px">
    <canvas id="positivecloud"></canvas>
  </div>
  <div id="container" style="width: 500px; height: 350px">
    <canvas id="negativecloud"></canvas>
  </div>
</div>
