.top-mentions {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.mention-list {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}

.showAll {
    cursor: pointer;
    font-weight: 600;
    font-size: 12px;
    margin-top: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: blue;
}